{% extends 'base.html' %}

{% block body_id %}expense_head{% endblock %}

{% block title %}New Expense Head{% endblock title %}

{% block content %}
	<div class="form_container">
		<form name="add_expense_head">
			<div class="formrow">
				<div class="formtext">
					<label for="head_name">Head Name</label>
				</div>
				<div class="forminput">
					<input type="text" name="head_name">
				</div>
			</div>
			<div class="formrow">
				<div>
					<input type="submit" value="Submit">
					<input type="button" value="Cancel">
				</div>
			</div>
		</form>
	</div>

{% endblock content %}