{% extends 'base.html' %}

{% block body_id %}expense{% endblock %}

{% block title %}New Expense{% endblock title %}

{% block controller %}
	ng-controller="ExpenseController" ng-init="init('{{csrf_token}}')"   
{% endblock controller %}

{% block content %}

	<div id="main-title">
		<div class="alert alert-info" align="Center"><h4>New Expense</h4></div>
	</div>

	<div class="expense_form_container">
		<form name="add_expense" method="post">
			<div class="form_contents">
				<div class="section_1">
					<div class="formrow">
						<div class="formtext">
							<label for="voucher_no">Voucher No :</label>
						</div>
						<div class="forminput">
							<input type="text" name="voucher_no" ng-model="voucher_no">
						</div>
					</div>
					<div class="formrow">
						<div class="formtext">
							<label for="date">Date :</label>
						</div>
						<div class="forminput">
							<input type="text" name="date" id="date" ng-model="date">
						</div>
					</div>
					<div class="formrow">
						<div class="formtext">
							<label for="expense_head">Select Head :</label>
						</div>
						<div class="forminput">
							<select name="expense_head" ng-model="expense_head">
								<option value="select">Select</option>
								<option ng-repeat="head in expense_heads" value="[[head.head_name]]">[[head.head_name]]</option>
							</select>
						</div>
					</div>
					<div class="formrow">
						<div class="formtext">
							<label for="amount">Amount</label>
						</div>
						<div class="forminput">
							<input type="text" name="amount" ng-model="amount">
						</div>
					</div>
					<div class="formrow">
						<div class="formtext" id="radio_text">
							<label for="payment_mode">Payment Mode:</label>
						</div>
						<div class="forminput">
							<input type="radio" name="payment_mode" ng-model="payment_mode" value="true"><label>Cash</label>
							<input type="radio" name="payment_mode" ng-model="payment_mode" value="false"><label>Cheque</label>
						</div>
					</div>
					<div class="formrow">
						<div class="formtext">
							<label for="narration">Narration :</label>
						</div>
						<div class="forminput">
							<textarea name="narration" ng-model="narration"></textarea>
						</div>
					</div>
				</div>
				<div class="section_2">
					<div class="formrow">
						<div class="formtext">
							<label for="checkno">Check No :</label>
						</div>
						<div class="forminput">
							<input type="text" name="checkno" ng-model="checkno">
						</div>
					</div>
					<div class="formrow">
						<div class="formtext">
							<label for="check_date">Check Date :</label>
						</div>
						<div class="forminput">
							<input type="text" name="check_date" id="check_date" ng-model="check_date">
						</div>
					</div>
					<div class="formrow">
						<div class="formtext">
							<label for="bank_name">Bank Name</label>
						</div>
						<div class="forminput">
							<input type="text" name="bank_name" ng-model="bank_name">
						</div>
					</div>
					<div class="formrow">
						<div class="formtext">
							<label for="branch">Branch</label>
						</div>
						<div class="forminput">
							<input type="text" name="branch" ng-model="branch">
						</div>
					</div>
				</div>	
				<div class="section_3">
					
				</div>
			</div>
			<div></div>
		</form>

	</div>

{% endblock content %}