{% extends 'base.html' %}
{% block title %}Add_Customer
{% endblock title %}
{% block body_id %}add_customer{% endblock %}
{% block content %}

<div id="main-title">
	<div class="alert alert-info" align="Center">New Customer</div>
</div>

<div>
	<form name="customeradd" method="post" action="{% url 'reigister_user' user_type='customer' %}">
		{% csrf_token %}
		{{ message }}
		<label>Customer Name</label>
		<input name="name" type="text">
		<label>House Name</label>
		<input name="house" type="text">
		<label>Street</label>
		<input name="street" type="text">
		<label>City</label>
		<input name="city" type="text">
		<label>District</label>
		<input name="district" type="text">
		<label>Pin</label>
		<input name="pin" type="text">
		<label>Mobile</label>
		<input name="mobile" type="text">
		<label>Land Line</label>
		<input name="phone" type="text">
		<label>Email Id</label>
		<input name="email" type="text">
		<label> </label>
		<input type="submit" value="Submit">
	</form>
</div>

{% endblock content %}
