{% extends 'base.html' %}

{% block content %}

<div id="main-title">
	<div class="alert alert-info" align="Center">New Staff</div>
</div>

<div>
	<form name="staffadd" method="post" action="{% url 'staff' %}">
		{% csrf_token %}
		{{ message }}
		<label>Name</label>
		<input name="name" type="text">
		<label>Designation</label>
		<select>
  			<option value="Select Designation"></option>
			<option value=""></option>
			<option value=""></option>
		</select>
		<label>House Name</label>
		<input name="house" type="text">
		<label>Street</label>
		<input name="street" type="text">
		<label>City</label>
		<input name="city" type="text">
		<label>District</label>
		<input name="district" type="text">
		<label>Pin</label>
		<input name="pin" type="text">
		<label>Mobile</label>
		<input name="mobile" type="text">
		<label>Land Line</label>
		<input name="phone" type="text">
		<label>Email Id</label>
		<input name="email" type="text">
		<label> </label>
		<input type="submit" value="Submit">
	</form>
</div>

{% endblock content %}
