
<!DOCTYPE html>
<html ng-app="smartbook" xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title>{% block title %}{% endblock title%} | SmartBook </title>
		<link rel="shortcut icon" href="/static/images/f_icon.png" type="image/x-icon" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block facebook_meta %}
		{% endblock facebook_meta%}
		<!-- linked in meta tag -->
		<meta name="p:domain_verify" content="ce218e9f8daf32477bcc841eb40ced8f"/>
		<!-- Bootstrap -->
		
		<script src="/static/js/angular_app/lib/angular/angular.js"></script>
	    <script src="/static/js/angular_app/lib/angular/angular-resource.js"></script>
	  	<script src="/static/js/angular_app/app.js"></script>
	    <script src="/static/js/angular_app/services.js"></script>
	  	<script src="/static/js/angular_app/controllers.js"></script>
	    
		{% block extrahead %}
		{% endblock extrahead %}
		
	</head>
	<body id="{% block body_id %}base{% endblock %}"  {% block controller %}{% endblock controller %}>


		{% block header %}
		{% endblock header %}
		{% block content %}
			
		{% endblock content %}
		{% block footer %}
		{% endblock footer %}
	</body>
</html>
