<header class="">
	<div class="logo">
		<img src="/static/images/Logo.png" >
	</div>

	<span class="user_name"> 
		{% if user.is_authenticated %}
			{% if user.first_name %}
				{{user.first_name}} {{user.last_name}} 
			{% else %} 
				You are 
			{% endif %} Logged in as {{user.username}} 
		{% endif %}
	</span>

	
	<div class="menu_div">
		{% if user.is_authenticated %}
			<ul>
				<li class="menu"> <img src="/static/images/user.png" width="24px" >
					<ul>
						<li> <a href="{% url 'users' user_type='vendor' %}"> Vendors </a> </li>
						<li> <a href="{% url 'users' user_type='staff' %}"> Staff </a> </li>
						<li> <a href="{% url 'users' user_type='customer'  %}"> Customers </a> </li>
						<li> <a href="{% url 'logout' %}"> Logout </a> </li>
						<li> <a href=""> Reset password </a> </li>
					</ul>
				</li>
				<li class="menu"> <a href=""> Inventory </a> 
					<ul> 
						<li> <a href="{% url 'add_item' %}"> New Item </a> </li>
						<li> <a href="{% url 'item_list' %}"> Stock </a> </li>
						<li> <a href=""> New stock </a> </li>
					</ul>
				</li>
				<li class="menu"> <a href=""> Purchase </a> </a> 
					<ul> 
						<li> <a href="{% url 'purchase' %}"> New Entry </a> </li>
						<li> <a href="{% url 'edit_purchase' %}"> Edit Purchase </a> </li>
						<li> <a href="{% url 'vendor_accounts' %}"> Vendor Accounts </a> </li>
					</ul>
				</li>
				<li class="menu"> <a href=""> Sales </a>
					<ul>
						<li> <a href="{% url 'sales_entry' %}"> Sales Entry </a> </li>
						<li> <a href="{% url 'return_entry' %}"> Return Entry</a> </li>
						<li> <a href="{% url 'view_sales' %}"> View Sales </a> </li>
					</ul>
				</li>
				<li class="menu"> <a href="{% url 'new_expense' %}"> Expenses </a> 
					<ul>
						<li><a href="{% url 'new_expense' %}">Expenses</a></li>
						<li><a href="{% url 'new_expense_head' %}">New Expense Head</a></li>
					</ul>
				</li>

				<li class="menu last"> <a href=""> Reports </a>
					<ul>
						<li><a href="{% url 'daily_report' %}"> Daily Reports </a> </li>
						<li><a href="{% url 'sales_reports_date' %}"> Sales </a> </li>
						<li><a href="{% url 'sales_return' %}"> Sales Return</a> </li>
						<li><a href="{% url 'stock' %}"> Stock </a> </li>
						<li><a href="{% url 'purchase_reports' %}"> Purchase </a> </li>
						<li><a href="{% url 'purchase_return' %}"> Purchase Return </a> </li>
						<li><a href="{% url 'expense_report' %}"> Expense Report </a> </li>
						<li><a href="{% url 'purchase_accounts_date' %}"> Purchase Accounts </a> </li>
					</ul>
				</li>
			</ul>
		{% endif %}
	</div>
</header>