<header class="">
	<div class="logo">
		<img src="/static/images/Logo.png" >
	</div>

	<span class="user_name"> 
		{% if user.is_authenticated %}
			{% if user.first_name %}
				{{user.first_name}} {{user.last_name}} 
			{% else %} 
				You are 
			{% endif %} Logged in as {{user.username}} 
		{% endif %}
	</span>

	
	<div class="menu_div">
		{% if user.is_authenticated %}
			<ul>
				<li class="menu"> <img src="/static/images/user.png" width="24px" >
					<ul>
						<li> <a href="{% url 'users' user_type='vendor' %}"> Vendors </a> </li>
						<li> <a href="{% url 'register_user' user_type='vendor' %}"> New Vendor </a> </li>
						<li> <a href="{% url 'users' user_type='staff' %}"> Staff </a> </li>
						<li> <a href="{% url 'register_user' user_type='staff' %}"> New Staff </a> </li>
						<li> <a href="{% url 'users' user_type='customer'  %}"> Customers </a> </li>
						<li> <a href="{% url 'register_user' user_type='customer' %}"> New Customer </a> </li>
						<li> <a href="{% url 'logout' %}"> Logout </a> </li>
						<li> <a href=""> Reset password </a> </li>
					</ul>
				</li>
				<li class="menu"> <a href=""> Inventory </a> 
					<ul> 
						<li> <a href="{% url 'add_item' %}"> New Item </a> </li>
						<li> <a href="{% url 'list_item' %}"> Stock </a> </li>
						<li> <a href=""> New stock </a> </li>
					</ul>
				</li>
				<li class="menu"> <a href=""> Purchase </a> </a> 
					<ul> 
						<li> <a href="{% url 'purchase' %}"> Purchase </a> </li>
						<li> <a href="{% url 'edit_purchase' %}">Edit Purchase </a> </li>
						<li> <a href=""> New Entry </a> </li>

						<li> <a href=""> Vendor Accounts </a> </li>
					</ul>
				</li>
				<li class="menu"> <a href="{% url 'sales' %}"> Sales </a> </li>
				<li class="menu"> <a href="{% url 'new_expense' %}"> Expenses </a> 
					<ul>
						<li><a href="{% url 'new_expense' %}">Expenses</a></li>
						<li><a href="{% url 'new_expense_head' %}">New Expense Head</a></li>
					</ul>
				</li>

				<li class="menu last"> <a href="{% url 'reports' %}"> Reports </a>
				<ul>
				<li class="menu last"> <a href=""> Sales </a> 
					<ul>
						<li><a href="{% url 'sales_reports_date' %}">Date Wise </a></li>
						<li><a href="{% url 'sales_reports_item' %}">Item Wise</a></li>
						<li><a href="{% url 'sales_reports_customer' %}">Customer Wise</a></li>
						<li><a href="{% url 'sales_reports_salesman' %}">Salesman Wise</a></li>
						<li><a href="{% url 'sales_reports_area' %}">Area Wise</a></li>


					</ul>
				</li>
				<li class="menu last"> <a href=""> Purchase </a> 
					<ul>
						

					</ul>
				</li>
				</ul>
				</li>


				
				
			</ul>
		{% endif %}
	</div>
</header>