{% extends 'base.html' %}

{% block content %}
	{% if user.is_authenticated %}	
		<h1 class="welcome"> Welcome to Smart Book </h1>

	{% else %}
	
		<div class="login">
			<div class="div_header">
				Login
			</div>
			<div class="form_container">
				<form name="login" method="post">
					<p> Username : <input type="text" name="username" /></p>
					<p> Password : <input type="text" name="password" /></p>
					<p> <input type="submit" name="submit" value="Login" />
				</form>
			</div>
		</div>
	{% endif %}
{% endblock content %}