{% extends 'base.html' %}
{% block title %}Items
{% endblock title %}
{% block body_id %}items{% endblock %}

{% block content %}
	<div class="main-title">
		<div class="alert alert-info" align="Center">EDIT INFORMATION</div>
	</div>
	<div class="main-content">
		<div class="div_content">
		<form name="EditItem" action=" " method="POST">
			<p> <label> Item Code</label> : <input style="margin:1%" type="text" name="code" value = "{{ items.code }}"></p>
			<p> <label> Item Name</label> : <input style="margin:1%" type="text" name="name" value="{{ items.name }}"></p>
			<p> <label> Description</label> : <textarea style="margin:1%" rows="4" cols="50" name="description">{{ items.description }}</textarea></p>
			<p> <label> Brand Name</label> : 
						<select style="margin:1%">
	  						<option value=""></option>
							<option value=""></option>
							<option value=""></option>
						</select></p>
			<p> <label> Bar Code</label> : <input style="margin:1%" type="text" name="barcode" value="{{ items.barcode }}"></p>
			<p> <label> UOM</label> : 
						<select style="margin:1%">
	  						<option value=""></option>
							<option value=""></option>
							<option value=""></option>
						</select></p>
			<p> <label>Vendor</label> : 
						<select style="margin:1%">
	  						<option value=""></option>
							 <option value=""></option>
							 <option value=""></option>
						</select></p>
			<p> <label>Selling Price</label> : <input style="margin:1%" type="text" name="sellingprice"></p>
			<p> <label>Tax(%)</label> : <input style="margin:1%" type="text" name="tax" value"{{ items.tax }}"></p>
			<p> <input style="margin:1%" type="submit" value="Upadate" name="Update">
				<input type="submit" value="Cancel" name="Cancel"></p>	
		</form>
		</div>
	</div>	
			
{% endblock content %}