% extends 'base.html'}
{% block title %}Items
{% endblock title %}
{% block body_id %}items{%endblock %}

{% block content %}
	<div>
		<table>
			<tr>
				<td> Item Code:</td>
				<td> 
					<select>
  						<option value=""></option>
						 <option value=""></option>
						 <option value=""></option>
					</select>
				</td>
			</tr>
			<tr>
				<td> Item Name:</td><td> <input type="text" name="name"></td>
			</tr>
			<tr>
				<td> Description:</td><td> <textarea rows="4" cols="50">
				</textarea> </td>
			</tr>
			<tr>
				<td> Brand Name:</td>
				<td> 
					<select>
  						<option value=""></option>
						<option value=""></option>
						<option value=""></option>
					</select>
			</tr>
			<tr>
				<td> Bar Code:</td><td> <input type="text" name="barcode"></td>
			</tr>
			<tr>
				<td> UOM:</td>
				<td> 
					<select>
  						<option value=""></option>
						 <option value=""></option>
						 <option value=""></option>
					</select>
				</td>
			</tr>
			<tr>
				<td> Vendor:</td>
				<td> 
					<select>
  						<option value=""></option>
						 <option value=""></option>
						 <option value=""></option>
					</select>
				</td>
			</tr>
			<tr>
				<td> Selling Price:</td>
				<td> <input type="text" name="sellingprice"></td>
			</tr>
			<tr>
				<td> Tax(%):</td><td> <input type="text" name="tax"></td>
			</tr>
			<tr>
			</tr>
			<tr>
				<td> </td>
				<td> <input type="submit" name="Update"></td>
				<td> <input type="submit" name="Cancel"></td>
			</tr>
		</table>
	</div>
{% endblock content %}