{% extends 'base.html' %}
{% block title %}Items
{% endblock title %}
{% block body_id %}items{% endblock %}

{% block content %}
	<div class="main-title">
		<div class="alert alert-info" align="Center">EDIT INFORMATION</div>
	</div>
	<div class="main-content">
		<div class="form_container">
			<form name="EditItem" action="{% url 'update_item' %}" method="POST">
				{% csrf_token %}
				<input type="hidden" value="{{ items.id}}" name="id">
				<div class="control"> 
					<label> Item Code</label> : <input type="text" name="code" value = "{{ items.code }}">
				</div>
				<div class="control"> 
					<label> Item Name</label> : <input type="text" name="name" value="{{ items.name }}">
				</div>
				<div class="control"> 
					<label> Description</label> : <textarea  rows="4" cols="50" name="description">{{ items.description }}</textarea>
				</div>
				<div class="control"> 
					<label> Brand Name</label> :
					<select name="brand">
						{% for brand in brands%}
						  <option value="{{brand}}" {%if brand == items.brand.brand%}selected="true"{%endif%}>{{brand}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="control"> 
					<label> Bar Code</label> : <input type="text" name="barcode" value="{{ items.barcode }}">
				</div>
			<div class="control"> 
				<label> UOM</label> :
				<select name="uom">
					{% for uom in uoms%}
						{% if uom in items.uom.uom%}
								<option value="{{uom}}" selected>{{uom}}</option>
							{% else %}
								<option value="{{uom}}">{{uom}}</option>
							{% endif %}
					{% endfor %}
				</select>
			</div>

			<div class="control"> 
				<label>Vendor</label> : 
				<select>
					<option value=""></option>
					 <option value=""></option>
					 <option value=""></option>
				</select>
			</div>
			<div class="control"> 
				<label>Selling Price</label> : <input type="text" name="sellingprice">
			</div>
			<div class="control"> 
				<label>Tax(%)</label> : <input type="text" name="tax" value="{{ items.tax }}">
			</div>
			<div class="control"> 
				<input type="submit" value="Upadate" name="Update">
				<input type="submit" value="Cancel" name="Cancel">
			</div>	
		</form>
		</div>
	</div>	
			
{% endblock content %}