{% extends 'base.html' %}
{% block title %}Items
{% endblock title %}
{% block body_id %}items{% endblock %}

{% block content %}
	<div class="main-title">
		<div class="alert alert-info" align="Center">ITEMS - SEARCH AND VIEW</div>
	</div>
	<div class="main-content">
		<form action=" " method="POST">
			<input type="text" name="searchcategory" value=""/>
			<input type="submit" value="Search"/>
		</form>
	</div>
	<div>
		<table id="list" class="table table-hover" style="margin-top: 55px">
			<tr class="success" style="font-size: 12px"style="width:auto">
			  <th>Item Code</th>
			  <th>Barcode</th>
			  <th>Item Name</th>
			  <th>Description</th>
			  <th>Brand</th>
			  <th>Vendor</th>
			  <th>UOM</th>
			  <th>Stock</th>
			  <th></th>
			</tr>
			{% for item in items %}

			<tr class="success" style="font-size: 12px"style="width:auto">
			  <td>{{item.code}}</td>
			  <td>{{item.barcode}}</td>
			  <td>{{item.name}}</td>
			  <td>{{item.description}}</td>
			  <td>{{item.brand.brand}}</td>
			  <td>Vendor</td>
			  <td>{{item.uom.uom}}</td>
			  <td>stock</td>
			  <td><a href="{% url 'edit_item' item.id %}">EDIT</a></td>
			</tr>
			{% endfor %}
		</table> 
		

	</div>
{% endblock content %}			
			
