{% extends 'base.html' %}
{% block title %}Add Item{% endblock title %}
{% block body_id %}add_item{% endblock %}
{% block content %}

<div id="main-title">
	<div class="alert alert-info" align="Center"><h4>Add Item</h4></div>
</div>


<div class="form_container">
	<form class="" name="add_item" method="post" action="{% url 'add_item' %}">
		{% csrf_token %}
		{{ message }}
		<div class="control">
			<label > Item Code</label>  
			<input type="text"  name="code" >
		</div>
		<div class="control">
			<label> Item Name</label>
			<input type="text" name="name" >
		</div>
		<div class="control">
			<label> Description</label>
			<input type="text"name="description"></textarea>
		</div>
		<div class="control">
			<label> UOM</label>  
					<select name="uom">
						{% for uom in uoms %}
  							<option value="{{uom.uom}}">{{uom.uom}}</option>
						{% endfor %}
					</select></p>
		</div>
		<div class="control">
			<label> Brand</label>  
					<select name="brand">
						{% for brand in brands%}
							<option value="{{brand.brand}}">{{brand.brand}}</option>
						{% endfor %}
					</select>
		</div>
		<div class="control">
			<label>Barcode</label>
			<input type="text" name="barcode">
		</div>

		<div class="control">
			<label>Tax(%)</label>  
			<input type="text" name="tax">
		</div>
		
		<div  align="Center">
			<div class="buttons">
				<a href="{% url 'home' %}"><input type="button" value="Cancel"></a>
				<input type="submit" value="Submit">
				
			</div>
		</div>
	</form>
</div>


{% endblock content %}



















