{% extends 'base.html'}
{% block title %}Items
{% endblock title %}
{% block body_id %}items{% endblock %}

{% block content %}
	<div class="main-title">
		<div class="alert alert-info" align="Center">ADD NEW ITEMS</div>
	</div>
	
	<div class="main-content">
		<form name="Item" action=" " method="POST">
		<p> <label> Item Code</label> : <input type="text" name="code" ></p>
		<p> <label> Item Name</label> : <input type="text" name="name" ></p>
		<p> <label> Description</label> : <textarea rows="4" cols="50" name="description"></textarea></p>
		<p> <label> Brand Name</label> : 
					<select>
  						<option value=""></option>
						<option value=""></option>
						<option value=""></option>
					</select></p>
		<p> <label> UOM</label> : <select>
  						<option value=""></option>
						<option value=""></option>
						<option value=""></option>
					</select></p>
		<p> <label>Vendor</label> : 
					<select>
  						<option value=""></option>
						 <option value=""></option>
						 <option value=""></option>
					</select></p>
		<p> <label>Tax(%)</label> : <input type="text" name="tax"></p>
		<p> <input type="submit" value="Submit" name="Submit">
			<input type="submit" value="Cancel" name="Cancel"></p>	
	</div>			
			
{% endblock content %}