{% extends 'base.html' %}
{% block title %}Return Entry{% endblock title %}
{% block body_id %}return_entry{% endblock %}
{% block controller %}ng-controller="SalesReturnController" ng-init="init('{{csrf_token}}', '{{return_invoice_number}}')"{% endblock controller %}
{% block content %}

	<div id="main-title">
		<div class="alert alert-info" align="Center"><h4>Sales Return Entry</h4></div>
	</div>

	<div class="sales_form_container">
		<form name="return_entry" method="post">
			<div class="form_contents_sales">
				<div class="section_1_sales">
					<div class="formrow_sales">
						<div class="formtext_sales	">
							<label for="invoice_number">Invoice Number </label>
						</div>
						<div class="forminput">
							<input type="text" name="invoice_number" ng-model="sales.sales_invoice_number" ng-change="getSalesDetails()"  />
						</div>
					</div>
					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="return_invoice_no">Return Invoice No</label>
						</div>

						<div class="forminput">
							<input type="text" name="return_invoice_no" ng-model="sales_return.return_invoice_number" readonly />
						</div>
					</div>
					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="customer_name">Customer Name</label>
						</div>
						<div class="forminput">
							<input type="text" name="name" ng-model="sales.customer" />
						
						</div>
					</div>


					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="date">Date</label>
						</div>
						<div class="forminput">
							<input type="text" name="date" ng-model="sales_return.date" id="return_date" />
						</div>
					</div>
								
				</div>


				<div class="section_3_sales">
					<div class="search_sales">
						<div class="control">
							<label> Item Code </label>
   							<input type='text' id="item_code" ng-model="item_code" ng-change="getItems('item_code')"/>
   						</div>
   						<div class="control">
   							<label> Item name </label>
   							<input type="text" id='item_name' ng-model="item_name" ng-change="getItems('item_name')"/>
   						</div>
   						<div class="control">
   							<label> Barcode </label>
   							<input type="text" id='barcode' ng-model="barcode" ng-change="getItems('barcode')"/>
   						</div>
   						<div class="clear"></div>
	   					<div class="item_list" ng-show='selecting_item' ng-hide="item_selected">
							<div class="item_list_row header">
								<span> Item Code </span>
								<span> Item name </span>
								<span> Barcode </span>
							</div>
							<div ng-repeat="item in items" ng-click="addSalesItem(item)" class="item_list_row">
								<span>[[item.item_code]]</span>
								<span>[[item.item_name]]</span>
								<span>[[item.barcode]] </span>
							</div>
							<div class="clear"></div>
						</div>
    				</div>
    				<div class="clear"></div>
   				</div>

				<div class="purchase_items_list" ng-show="purchase.purchase_items.length > 0">
   					<div class="purchase_item_list">
   						<div class="item_list_row header">
   							<span>Item Code </span>
							<span>Item Name</span>
						    <span>Stock</span>
					    	<span>Unit Price</span>
							<span>UOM</span>
							<span>Quantity</span>
							<span>Quantity</span>
							<span>Return Quantity</span>
							<span>Discount (%)</span>
							<span>Amount</span>
						</div>


				<!-- <div class="section_3_sales">
					<table id="list" class="table table-hover" style="margin-top: 55px">
						<tr class="success" style="font-size: 12px"style="width:auto">
						  <th>Item Code </th>
						  <th>Item Name</th>
						  <th>Stock</th>
						  <th>Unit Price</th>
						  <th>UOM</th>
						  <th>Quantity</th>
						  <th>Return Quantity</th>
						  <th>Discount (%)</th>
						  <th>Amount</th>			 
						</tr>
					</table> -->
					</div>
				

					<div ng-repeat="item in sales.sales_items" class="item_list_row">
							<span class="small_column">[[item.item_code]] </span>
							<span>[[item.item_code]] </span>
							<span>[[item.name]] </span>
							<span>[[item.current_stock]] </span>
							<span>[[item.uom]] </span>
							<span>[[item.quantity] </span>
							<span> [[item.discount]] </span> 
							<span>[[item.net_amount]] </span>
							 
							
						</div>
						
						<div class="clear"></div>
   					</div>
   					<div class="clear"></div>
   				</div>
   				
   				<div class="clear"></div>


				<div class="section_2_sales">
					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="sales_man">Salesman</label>
						</div>
						<div class="forminput_sales">
							<input type="text" name="salesman">
						</div>
					<!--</div>

					<div class="formrow_sales">
						 --><div class="formtext_sales">
							<label for="sales_man">Salesman Code</label>
						</div>
						<div class="forminput_sales">
							<input type="text" name="salesman_code">
						</div>
					</div>
				</div>

				<div class="section_2_sales">
					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="total">Total</label>
						</div>
						<div class="forminput_sales">
							<input type="text" name="total">
						</div>
					<!-- </div>

					<div class="formrow_sales">
					 -->	<div class="formtext_sales">
							<label for="discount">Discount</label>
						</div>
						<div class="forminput_sales">
							<input type="text" name="discount">
						</div>
					<!-- </div>
					<div class="formrow_sales">
					 -->	<div class="formtext_sales">
							<label for="round_off">Round Off</label>
						</div>
						<div class="forminput_sales">
							<input type="text" name="round_off">
						</div>
					<!-- </div>
					<div class="formrow_sales">
					 -->	<div class="formtext_sales">
							<label for="grand_total">Grand Total</label>
						</div>
						<div class="forminput_sales">
							<input type="text" name="grand_total">
						</div>
					</div>
					
					<br><br><br>
					<div class="section_3_sales">
						
						<!-- <input type="submit" value="Print">
						<input type="submit" value="New Invoice"> -->
						<input type="submit" value="Submit">
						<input type="submit" value="Reset">
						<input type="submit" value="Cancel">

					</div>
				</div>

			</div>

		</form>

	</div>

				
{% endblock content %}

