body {
	width: 100%;
	height: 100%;
}
.container {
	width: 100% !important;
	margin: auto;	
	height: 100%;
}

.menu_div {
	float: left;
	height: 50%;
	margin-top: 2%
}

.menu_div ul li {
	float: left;
	display: block;
	padding: 2px 10px 2px 5px;
	border-right: 1px solid #FFFFFF;
	position: relative;
}
.menu_div ul li ul li {
	float: none;
	display: block;
	padding: 3px 5px 0px 5px;
	border: none;	
	height: 30px;
}
.menu_div ul li ul {
	position: absolute;
	z-index: 1;
	margin: 0px;
	padding: 5px;
	background-color: #ADD8E6;
	min-width: 150px;
	display: none;
}


.menu_div ul li a{
	color: #FFFFFF;
}
.menu_div ul li a:hover {
	color: #235580;
	text-decoration: none;
}
.menu_div ul li ul li a{
	color: #FFFFFF;
	font-weight: normal;
}
.menu_div ul li ul li a:hover {
	color: #235580;
	text-decoration: none;
}
.last {
	border: none !important;
}
a {
	text-decoration: none;
}
.logo {
	margin: 10px;
	width: 250px;
	height: 60px;
	float: left;	
}
header {
	background-color: #ADD8E6;
	width: 100%;
	min-height: 20px !important;
	margin: 0px !important;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	display: block;
	padding: 1px 0px 1px 0px;
	float: left;
}

.div_header {
	background-color: #ADD8E6;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0 10px 17px;
    width: 95%;
}
.login {
	border: 1px solid #ADD8E6;
    margin: auto;
    width: 26%;
    margin-top: 5%;
    border-radius: 3px;
}
.login_form_container {
	margin: 5%;
	width: 100%;
}
.content {
	float: left;
	width: 100%;
	min-height: 540px;
	padding-bottom: 30px;
}

.welcome {
	color: #006E80;
	margin: auto;
	width: 40%;
	margin-top: 10%;
}

footer {
	background-color: #CCCCCC;
	color: #FFFFFF;
	float: left;
	width: 100%;
	min-height: 50px;
	text-align: center;
	padding-top: 5px;
}

.user_name {
	display: block;
	float: left;
	padding: 30px;
	width: 30%;
}

.main-content {
	padding:5px 0 10px 0;
	font-size:14px;
	background-color: white;
}

.main-title {
	font-size:19px;
	padding:8px 0 8px 0;
    font-weight: bold;
}
/*.div_content
{
margin-left:40%;
margin-top:50px;
width:300px;
height:auto;
//background-color:#80b280;   
//border:1px solid red;
} */


textarea{
    height: 32px;
    margin-left: 22% !important;
    padding-left: 3px;
}



.form_container {
	margin: auto;
	width: 30%;
	min-height: 100%
}
.form_container .control {
	width: 100%;
	height: 30px;
	float: left;
	padding: 10px;
}
.form_container label{
	float: left;
	display: block !important;
}

.form_container input{
	float: right;
	display: block;
}

.form_container select{
	float: right;
	display: block;
}

form {
	display: block;
	float: left;
	min-height: 100%
}

.error_message {
	text-align: center;
	color: red;
}

.expense_form_container {
	margin: auto;
    max-width: 1024px;
    min-height: 500px;
}
.form_contents {
	margin: 10px 5px;
}
.section_1 {
	float: left;
	margin-right: 25px;
	width: 315px;
}
.section_2 {
	float: left;
	margin-right: 25px;
	width: 315px;
}
.section_3 {
	float: left;
	width: 245px;
	height: 223px;
	overflow: auto;
}
.formrow {
	min-height: 40px;
    width: 100%;
}
.formtext {
	float: left;
    width: 95px;
}
.forminput {
	float: left;
}
.add_expense_head {
	height: 100%;
	margin: auto;
    margin-top: 30px;
    width: 38%;
    float: none;
}
.required_field {
	color: #FF0000;
}
.buttons {
	margin: auto;
    width: 50%;
}

.message p{
	color: #FF0000;
	text-align: center;
	font-size: 20px;
}

.btn {
	background-color: #49AFCD;
    background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    float: right;
    margin-bottom: 3px;
    text-align: center;
    height: 21px;
    width: 100px;
    font-weight: bold;
}
.btn:hover {
	background-color: #2F96B4;
	color: #FFFFFF;
}

#radio_text {
	width: 100px;

}
#radio_input label, #radio_input input[type=radio] {
	float: left;
	margin-left: 4px;
    margin-right: 4px;
}
#expense textarea {
	height: auto ;
    margin-left: 0px !important;
    padding-left: 0px !important;
}





/******************************  Purchase module start *************/

.purchase_form_container {
	margin: auto;
    width: 90%;
}
.form_contents_purchase {
	margin: 10px 5px;
}
.section_1_purchase {
	float: left;	
	width: 100%;
}
.section_2_purchase {
	float: left;	
	width: 50%;
}
.section_3_purchase {
	float: left;
	width: 100%;
}
.formrow_purchase {
	min-height: 40px;
    width: 50%;
    float: left;
}
.formtext_purchase {
	float: left;
    width: 200px;
}
.forminput_purchase {
	float: left;
}
.search_purchase{
	width: 100%;
	height: 100%;
	padding-bottom: 30px;
}





.search_purchase .control {
	background-color: #ADD8E6;
    float: left;
    padding: 13px;
    width: 31%;
}


/*sales module */
.sales_form_container {
	margin: auto;
    width: 90%;
}
.form_contents_sales {
	margin: 10px 5px;
}
.section_1_sales {
	float: left;	
	width: 100%;
}
.section_2_sales {
	float: left;	
	width: 50%;
}
.section_3_sales {
	float: left;
	width: 100%;
}
.formrow_sales {
	min-height: 40px;
    width: 50%;
    float: left;
}
.formtext_sales {
	float: left;
    width: 200px;
}
.forminput_sales {
	float: left;
}
.search_sales{
	width: 100%;
	height: 100%;
	padding-bottom: 30px;
}


.search_sales .control {
	background-color: #ADD8E6;
    float: left;
    padding: 13px;
    width: 31%;
}



/*reports*/

.reporttext {
	float: left;
	padding-left: 10px;
    width: 90px;
}
.reportinput {
	float: left;
}


.table_list td, th {
    border-color: #E6E6E6;
    /*padding: 7px;*/
    padding: 11px;
}
th {
    font-size: 13px;
}

.table_list {
    border-color: #E6E6E6;
    margin: auto;
    text-align: left;
    font-size: 14px;
    margin-top: 30px;
}
.table_list th{
    height: 30px;
}

.table_list .odd{
    background-color: #F9F9F9;
}
.table_list .even{
    background-color: #FFFFFF;
}
.top_section {
	height: 50px;
    width: 89%;
    margin-top: 15px;
}
.clear {
	clear: both;
}

.item_list {
	background-color: #FFFFFF;
    border: 1px solid #ADD8E6;
    position: absolute;
    margin-top: -10px;
    width: 89%;
    z-index: 1;
    border-top-color: #FFFFFF;
}

.item_list .item_list_row, .purchase_item_list .item_list_row{
	width: 100%;
	text-align: center;
	border-top: 1px solid #ADD8E6;
	float: left;
	height: 30px;
}
.purchase_item_list .header{
	height: 75px !important;
}
.purchase_item_list .item_list_row {
	height: 50px;
	padding-top: 5px;
}
.item_list .item_list_row span, .purchase_item_list .item_list_row span {
	padding: 5px;
	display: block;
	float: left;
	width: 32%;
}
.purchase_item_list .item_list_row span {
	width: 5%;
}
.purchase_item_list .item_list_row span input {
	width: 70%;
}
.purchase_item_list .item_list_row span .large_input {
	width: 100% !important;
}
.purchase_item_list .item_list_row span .small_input {
	width: 100% !important;
}
.item_list .header, .purchase_item_list .header {
	background-color: #ADD8E6;
}

.purchase_items_list {
	width: 100%;
	float: left;
	position: relative;
	min-height: 100px;
	padding-bottom: 30px;
}

.purchase_items_list .purchase_item_list {
	width: 100% !important;
	border: 1px solid #ADD8E6;
}

.small_column{
	width: 4% !important;
}

/******************************  Purchase module end *************/

/******************************  Popup box **********************/

#overlay {
  background-color: #000000;
  background:url(../images/overlay.png) repeat 0 0;
  opacity: 0.9;
  z-index: 1;
  position: absolute;
  width: 100%;
}


#dialogue_popup_container {
  z-index: 2;
  position: absolute;
  width: 100%;
}
#dialogue_popup {
  height: auto;
  border-radius: 15px 15px 15px 15px;
  /*border: 2px solid #1ABC9C ;*/
  border: 2px solid #CCCCCC;
  margin: auto;
  z-index: 2;
  position: relative;
  margin: auto;
  background-color: #FFFFFF;
  display: none;
  overflow: hidden;
  padding-bottom: 20px;
  width: 384px;
  border: 1px solid;
}

.close_pop {
  width: 32px;
  height: 32px;
  background: url('../images/close_pop.png');
  display: block;
  float: right;
  position: relative;
  /*top: -15px;
  right: -15px;*/
}
/******************************  Popup box end **********************/