.container {
	width: 100% !important;
	margin: auto;	
	height: 100%;
}

.menu_div {
	float: left;
	height: 50%;
	margin-top: 2%
}

.menu_div ul li {
	float: left;
	display: block;
	padding: 2px 10px 2px 5px;
	border-right: 1px solid #FFFFFF;
	position: relative;
}
.menu_div ul li ul li {
	float: none;
	display: block;
	padding: 3px 5px 0px 5px;
	border: none;	
	height: 30px;
}
.menu_div ul li ul {
	position: absolute;
	z-index: 1;
	margin: 0px;
	padding: 5px;
	background-color: #ADD8E6;
	min-width: 150px;
	display: none;
}


.menu_div ul li a{
	color: #FFFFFF;
}
.menu_div ul li a:hover {
	color: #235580;
	text-decoration: none;
}
.menu_div ul li ul li a{
	color: #FFFFFF;
	font-weight: normal;
}
.menu_div ul li ul li a:hover {
	color: #235580;
	text-decoration: none;
}
.last {
	border: none !important;
}
a {
	text-decoration: none;
}
.logo {
	margin: 10px;
	width: 250px;
	height: 60px;
	float: left;	
}
header {
	background-color: #ADD8E6;
	width: 100%;
	min-height: 20px !important;
	margin: 0px !important;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	display: block;
	padding: 1px 0px 1px 0px;
	float: left;
}

.div_header {
	background-color: #ADD8E6;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0 10px 17px;
    width: 95%;
}
.login {
	border: 1px solid #ADD8E6;
    margin: auto;
    width: 26%;
    margin-top: 5%;
    border-radius: 3px;
}
.login_form_container {
	margin: 5%;
	width: 100%;
}
.content {
	float: left;
	width: 100%;
	min-height: 540px;
	padding-bottom: 30px;
}

.welcome {
	color: #006E80;
	margin: auto;
	width: 40%;
	margin-top: 10%;
}

footer {
	background-color: #CCCCCC;
	color: #FFFFFF;
	float: left;
	width: 100%;
	min-height: 50px;
	text-align: center;
	padding-top: 5px;
}

.user_name {
	display: block;
	float: left;
	padding: 30px;
	width: 30%;
}

.main-content {
	padding:5px 0 10px 0;
	font-size:14px;
	background-color: white;
}

.main-title {
	font-size:19px;
	padding:8px 0 8px 0;
    font-weight: bold;
}
.div_content
{
margin-left:40%;
margin-top:50px;
width:300px;
height:auto;
//background-color:#80b280;   
//border:1px solid red;
}

/*.item label
{
	padding:8px 0 8px 0;


}*/


textarea{
    height: 32px;
    margin-left: 22% !important;
    padding-left: 3px;
}



.form_container {
	margin: auto;
	width: 30%;
	min-height: 100%
}
.form_container .control {
	width: 100%;
	height: 30px;
	float: left;
	padding: 10px;
}
.form_container label{
	float: left;
	display: block !important;
}

.form_container input{
	float: right;
	display: block;
}

.form_container select{
	float: right;
	display: block;
}

form {
	display: block;
	float: left;
	min-height: 100%
}

.error_message {
	text-align: center;
	color: red;
}

.expense_form_container {
	margin: auto;
    max-width: 1024px;
    min-height: 500px;
}
.form_contents {
	margin: 10px 5px;
}
.section_1 {
	float: left;
	margin-right: 25px;
	width: 315px;
}
.section_2 {
	float: left;
	margin-right: 25px;
	width: 315px;
}
.section_3 {
	float: left;
	width: 245px;
	height: 223px;
	overflow: auto;
}
.formrow {
	min-height: 40px;
    width: 100%;
}
.formtext {
	float: left;
    width: 95px;
}
.forminput {
	float: left;
}
.add_expense_head {
	height: 100%;
	margin: auto;
    margin-top: 30px;
    width: 38%;
    float: none;
}
.required_field {
	color: #FF0000;
}
.buttons {
	margin: auto;
    width: 50%;
}

.message p{
	color: #FF0000;
}

.btn {
	background-color: #49AFCD;
    background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    float: right;
    margin-bottom: 3px;
    text-align: center;
    height: 21px;
    width: 100px;
    font-weight: bold;
}
.btn:hover {
	background-color: #2F96B4;
	color: #FFFFFF;
}

#radio_text {
	width: 100px;
}

.purchase_form_container {
	margin: auto;
    max-width: 1024px;
    min-height: 500px;
}
.form_contents_purchase {
	margin: 10px 5px;
}
.section_1_purchase {
	float: left;
	
	width: 500px;
}
.section_2_purchase {
	float: left;
	
	width: 500px;
}
.section_3_purchase {
	float: left;
	width: auto;
	height: 223px;

	
}
.formrow_purchase {
	min-height: 40px;
    width: 100%;
}
.formtext_purchase {
	float: left;
    width: 200px;
}
.forminput_purchase {
	float: left;
}
.search_purchase{
	background-color: #D9EDF7;
}


.reporttext {
	float: left;
	padding-left: 10px;
    width: 90px;
}
.reportinput {
	float: left;
}

.table_list td, th {
    border-color: #E6E6E6;
    /*padding: 7px;*/
    padding: 11px;
}
th {
    font-size: 13px;
}

.table_list {
    border-color: #E6E6E6;
    margin: auto;
    text-align: left;
    font-size: 14px;
    margin-top: 30px;
}
.table_list th{
    height: 30px;
}

.table_list .odd{
    background-color: #F9F9F9;
}
.table_list .even{
    background-color: #FFFFFF;
}
.top_section {
	height: 50px;
    width: 89%;
    margin-top: 15px;

.clear {
	clear: both;
}

#c1, #c2, #c3 {
    width: 33%; 
    border:1px solid red;
}

.search
{
-moz-column-count:3; /* Firefox */
-webkit-column-count:3; /* Safari and Chrome */
column-count:3;
}
